.wd-btn {
    border-radius: 5px;
    padding: 6px;
    border: 0;
    background-color: $border;
    color: $white;
    font-size: 18px;
    cursor: pointer;
}

.wd-btn:disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

.wd-btn-sm {
    font-size: 16px;
}

.wd-btn-block {
    width: 100%;
}


.wd-btn-primary {
    background-color: $primary;
}
.wd-btn-secondary {
    background-color: $secondary;
}
.wd-btn-third {
    background-color: $third;
}
.wd-btn-danger {
    background-color: $danger;
}

@media screen and (max-width: 600px) {
    .wd-btn {
        padding: 3px;
        font-size: 16px;
    }    
}
