.wd-btn {
    border-radius: 5px;
    padding: 6px;
    border: 0;
    background-color: $primary;
    color: $white;
    font-size: 18px;
}

.wd-btn-sm {
    font-size: 16px;
    padding: 4px;
}

.wd-btn-block {
    width: 100%;
}

.wd-btn-danger {
    background-color: red;
}
