
    .wd-input {
        text-align: center;
        width: 100%;
        font-size: 20px;
        border-radius: 5px;
        border: 1px solid $primary;
        padding: 5px;
        margin-top: 6px;
        box-sizing: border-box;
    }
