.wd-list-item {
    color: $secondary;
    cursor: pointer;
    border-bottom: 2px solid $border;
    padding-top: 10px;
    padding-bottom: 10px;

    width: 100%;
    box-sizing: border-box;

    .wd-list-item-title, .wd-list-item-controls {
        display: inline-block;
        width: 50%;
    }
    
    .wd-list-item-controls {
        text-align: right;
    }
}

// .wd-list-item:hover {
//     color: $secondary;
//     background-color: $white;
// }