.wd-panel {
    background-color: $white;
    color: $secondary;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    // border: 2px solid $border;
    width: 100%;

    -webkit-box-shadow: 7px 7px 20px -5px rgba(0,0,0,0.46);
    -moz-box-shadow: 7px 7px 20px -5px rgba(0,0,0,0.46);
    box-shadow: 7px 7px 20px -5px rgba(0,0,0,0.46);

    .wd-panel-header {
        .wd-btn {
            float: right;
        }
    }
}

