<div class="wd-container text-center">
    <h2>Dashboard</h2>
</div>
<div class="wd-container wd-dashboard">
    <div class="wd-we-need wd-panel">
        <strong><span class="wd-label">What do we need?</span></strong><br>

        <div class="wd-list-item margin-top-15">
            <div class="wd-list-item-title">
                <span class="wd-label">Thing 1</span><br>
            </div>

            <div class="wd-list-item-controls">
            </div>
        </div>

        <div class="wd-list-item margin-top-10">
            <div class="wd-list-item-title">
                <span class="wd-label">Thing 2</span><br>
            </div>
            
            <div class="wd-list-item-controls">
            </div>
        </div>
    </div>
    <div class="inventory wd-panel">
        <strong><span class="wd-label">Inventory</span></strong><br>
        <button type="button" class="wd-btn margin-top-15">Manage Inventory</button>
    </div>
    <div class="lists wd-panel">
        <strong><span class="wd-label">Lists</span></strong><br>
        <button type="button" class="wd-btn margin-top-15">Manage Lists</button>
    </div>
</div>