@import "../../../styles.scss";


.wd-header{
    background-color: $primary;
    color: $white;
    width: 100%;
    height: 60px;
    padding: 15px;
    box-sizing: border-box;
    
    .wd-header-title {
        margin: 0px;
        display: inline-block;
        font-size: 18px;
    }

    .wd-header-links {
        float: right;
        display: block;

        a {
            text-decoration: none;
            color: $white;
            font-size: 18px;
            margin: 8px;

        }
    }
}