.wd-container {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    grid-template-rows: auto;

    .wd-we-need, .inventory {
        flex-direction: column;
        display: flex;
        width: 100%;
        min-width: 350px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 996px) {
    .wd-container {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
}