
.wd-lists {
    padding: 20px;

    .wd-panel {
        .display-list-of-numbers {
            height: 40px;
            width: 100%;
            border: 3px solid dodgerblue;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}