@import "../../../styles.scss";

.wd-container {
    .users {
        span {
            font-size: 20px;
        }
        .user-profile {
            display: inline-block;
            font-size: 25px;
            line-height: 40px;
            text-align: center;
            margin-right: 0px;
        }
    }

    .chore-manager {
        display: grid;
        grid-template-rows: 30px auto;

        .headings {
            display: grid;
            grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px;

            .heading {
                text-align: center;
                display: inline-block;
                padding: 5px;
            }
        }
    
        .chores {
            padding: 5px;
            border-top: 2px solid $border;

            .chore {
                display: grid;
                grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px;

                .day {
                    padding: 5px;
                    display: inline-block;
                }

                .user-profile {
                    display: inline-block;
                    font-size: 15px;
                    line-height: 30px;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    margin-right: 0px;
                }
            }
        }
    }
}

.control-panels {
    display: grid;
    grid-template-columns: 47% 47%;
    column-gap: 6%;

    .wd-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}