<div class="wd-container">
    <h2> Chores </h2>
</div>
  
<div class="wd-container" cdkDropListGroup>
    <div class="users" cdkDropList [cdkDropListData]="users">
        <div *ngFor="let user of users" class="user-profile" cdkDrag>E</div>
        <div class="user-profile">+</div>
    </div>

    <div class="wd-panel margin-top-15">
        <div class="chore-manager">
            <div class="headings">
                <div class="heading margin-right-10">Chores</div>
                <div class="heading margin-right-10" *ngFor="let day of rota">{{day.day}}</div>
            </div>

            <div class="chores">
                <div class="chore" *ngFor="let chore of chores" >
                    {{chore.name}}

                    <div class="chore" *ngFor="let day of chore.days" cdkDropList [cdkDropListData]="day.assignees" (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let user of day.assignees" class="user-profile" cdkDrag>{{user.name}}</div>                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>