@import "../../../styles.scss";

.wd-container {
    .users {
        text-align: center;

        .user-profile {
            display: inline-block;
            font-size: 25px;
            line-height: 40px;
            text-align: center;
        }
    }

    .chore-manager {
        display: grid;
        grid-template-rows: 30px auto;

        .headings {
            display: grid;
            grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;

            .heading {
                text-align: center;
                display: inline-block;
                padding: 5px;
            }
        }
    
        .chores {
            padding: 5px;
            border-top: 2px solid $border;

            .chore {
                display: grid;
                grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
                padding: 5px;

                .day {
                    padding: 5px;
                    display: inline-block;
                }
            }
        }
    }
}