<div class="wd-wrapper">
    <div class="wd-card">
        <div class="wd-card-title">
            <h1> Login </h1>
        </div>

        <div class="wd-inputs">
            <input type="text" class="wd-input" placeholder="Email" aria-label="email" [(ngModel)]="user.email" id="email" name="email" required>
            <input type="password" class="wd-input" placeholder="Password" id="password" aria-label="password" [(ngModel)]="user.password" name="password" required>
        </div>
        
        <br>
        <button type="submit" class="wd-btn" (click)="submit()">Submit</button>
    </div>
</div>
