<div class="wd-wrapper">
    <div class="wd-card">
        <div class="wd-card-title">
            <h1> Create an account </h1>
        </div>

        <div class="wd-inputs">
            <input type="text" class="wd-input" aria-label="email" placeholder="Email" id="email" [(ngModel)]="user.email" name="email" required>
            <input type="password" class="wd-input" id="password" placeholder="Password" aria-label="password" [(ngModel)]="user.password" name="password" required>
        </div>

        <br>
        <button type="button" class="wd-btn" (click)="submit()"> Submit </button>
    </div>
</div>
