
/* You can add global styles to this file, and also import other style files */

$dark: #253240;
$primary: #2C3E50;
$secondary: #35495E;
$third: #4A6FBD;

$border: #E57E25;
$border-faded: #e57e2575;
$white: #ECF0F1;
$grey: #BDC3C7;
$danger: #EC4037;


// $primary: #48BCC0;
// $secondary: #717D97;
// $third: #4A6FBD;
// $white: #F5F3F1;
// $grey: #ECF1F5;
// $danger: #EC4037;

// $primary: #023543;
// $secondary: #3F647F;
// $white: #F5F3F1;
// $grey: #c2c2c2;
// $danger: #EC4037;

// $primary: #00736B;
// $secondary: #E0EFF2;
// $white: #FFFFFF;
// $danger: #732600;


@import "./scss/components/panel.scss";
@import "./scss/components/button.scss";
@import "./scss/components/input.scss";
@import "./scss/components/list-item.scss";
@import "./scss/components/label.scss";
@import "./scss/components/subheader.scss";
@import "./scss/components/utils.scss";

body {
    margin: 0px;
    background-color: $secondary;
    color: $white;
    min-height: 100vh;
}

button, body {
    font-family: 'Rubik', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.wd-container {
    padding: 15px;
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 1400px) {
    .wd-container {
        width: 80%;
    }
}
@media screen and (max-width: 1150px) {
    .wd-container {
        width: 90%;
    }
}
@media screen and (max-width: 600px) {
    .wd-container {
        padding: 0px;
    }
}

.user-profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 50px;
    color: $white;
    line-height: 80px;
    text-align: center;
    margin-right: 15px;
    background-color: $primary;
}
.user-profile:hover {
    background-color: $border;
    cursor: pointer;
}
