<div class="wd-panel-header">
    <strong><span class="wd-label-header">What have we got?</span></strong>
    <button type="button" class="wd-btn wd-btn-sm" disabled>Manage</button>
</div>

<div class="wd-list-item margin-top-10" *ngFor="let item of stock; let i = index;">
    <div class="wd-list-item-title">
        <strong><span class="wd-label">{{item.name}}</span></strong><br>
    </div>

    <div class="wd-list-item-controls">
        <button type="button" class="wd-btn wd-btn-sm wd-btn-primary margin-right-10" (click)="addToNeedsFromStock(item, i)">We Need This!</button>
        <button type="button" class="wd-btn wd-btn-sm wd-btn-danger" (click)="removeFromStock(i)">
            <span><fa-icon [icon]="faTrashAlt"></fa-icon></span>
        </button>
    </div>
</div>